name: Test & SCA Check

on: [pull_request, push]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: sandbox
          POSTGRES_DB: sandbox
          POSTGRES_PASSWORD: sandbox
        options: >-
          --health-cmd pg_isready
          --health-interval 1s
          --health-timeout 5s
          --health-retries 50
        ports:
          - 5432:5432

    steps:

    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        cache-read-only: false

    - name: Run tests
      run: ./gradlew test testAggregateTestReport testCodeCoverageReport pitestReportAggregate --continue

    - name: Test Report
      uses: dorny/test-reporter@v1.8.0
      if: success() || failure()
      with:
        name: Test Results
        path: '**/build/test-results/**/*.xml'
        reporter: java-junit

    - name: Jacoco Report PR Comment
      uses: Madrapps/jacoco-report@v1.6.1
      if: success() || failure()
      with:
        paths: 'build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml'
        token: ${{ secrets.GITHUB_TOKEN }}
        min-coverage-overall: 50
        min-coverage-changed-files: 80
        continue-on-error: true

    - name: JaCoCo Code Coverage Report
      uses: PavanMudigonda/jacoco-reporter@v4.9
      with:
        coverage_results_path: 'build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml'
        coverage_report_name: Code Coverage
        coverage_report_title: JaCoCo
        github_token: ${{ secrets.GITHUB_TOKEN }}
        skip_check_run: false
        minimum_coverage: 50
        fail_below_threshold: false
        publish_only_summary: false

    - name: Archive aggregated reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Aggregated Reports
        path: 'build/reports'

  sca:
    name: Run SCA
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

#      - name: Run SCA
#        run: ./gradlew staticCodeAnalysis

      - name: MegaLinter
        uses: oxsecurity/megalinter/flavors/ci_light@v7
        env:
          # All available variables are described in documentation
          # https://megalinter.io/configuration/
          VALIDATE_ALL_CODEBASE: true

          ENABLE_LINTERS: GROOVY_NPM_GROOVY_LINT
          LINTER_RULES_PATH: 'config/codenarc'
          DISABLE_ERRORS: true #Flag to have the linter complete with exit code 0 even if errors were detected.
          SARIF_REPORTER: true
          MARKDOWN_SUMMARY_REPORTER: true

      - name: Add MegaLinter summary
        if: ${{ success() }} || ${{ failure() }}
        run: cat megalinter-reports/megalinter-report.md >> $GITHUB_STEP_SUMMARY


      ## This won't work until the repository is made public
      #- name: Upload MegaLinter scan results to GitHub Security tab
      #  if: ${{ success() }} || ${{ failure() }}
      #  uses: github/codeql-action/upload-sarif@v2
      #  with:
      #    sarif_file: 'megalinter-reports/megalinter-report.sarif'


      # Upload MegaLinter artifacts
      - name: Archive lint reports
        if: ${{ success() }} || ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: MegaLinter reports
          path: |
            megalinter-reports
            mega-linter.log
